.tag {
    display: inline-block;
    padding: 10px 12px;
    border-radius: 12px;
    background-color: rgba(243, 243, 247, 1);

    p {
        font-family: 'Inter', Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
}